{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}MuchoCorazon - {{ page_title }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
        <style>
            body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
        <link href="{% static 'bootstrap-responsive.css' %}" rel="stylesheet">
        {% for script in script_list %}
        <script src="{{STATIC_URL}}{{ script }}"></script>
        {% endfor %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    {% block navbar %}
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">MuchoCorazon</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            {% for item in nav_list %}
                            <li><a href="{{ item.ref }}">{{ item.name }}</a></li>
                            {% endfor %}
                        </ul>
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <div class="btn-group">
                                    <a class="btn btn-success dropdown-toggle" href="/login/">Login</a>
                                </div>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
